.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#48a3ec;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
    text-decoration: none;
}

.my-float{
	margin-top:22px;
}

.my-float:hover{
    text-decoration: none;;
}